@import "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
.folio {
    position: relative;
    overflow: hidden;
}

.folio-pane {
    user-select: none;
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.3s ease-in;
}

.folio-pane_active {
    right: 0;
}

.folio-vertical .folio-pane {
    right: 0;
    transition: top 0.3s ease-in;
    top: -100%;
}

.folio-vertical .folio-pane_active {
    top: 0;
}

.folio-arrow {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    width: 10%;
    opacity: 0;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.folio:hover .folio-arrow {
    opacity: 0.6;
}

.folio .folio-arrow:hover {
    opacity: 1;
}

.folio-arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

.folio-arrow-left {
    left: 0;
}
.folio-arrow-right {
    right: 0;
}

.folio-arrow-right:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%) repeat-x;
}

.folio-arrow-left:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%) repeat-x;
}

.folio-nav {
    position: absolute;
    left: 10%;
    bottom: 2em;
    height: 1em;
    width: 80%;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.folio:hover .folio-nav {
    opacity: 1;
}

.folio-rail {
    background: #fff;
    border-radius: 0.5em;
    width: 100%;
    height: 0.3em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.folio-slider {
    position: absolute;
    top: 0;
    width:  1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-50%, 0);
    transition: left 0.3s ease-in;
    background: #FFF;
}